.text-field{
    -fx-background-color: #131313 ;
    -fx-prompt-text-fill: #b7b7b7;
    -fx-text-fill: #dfdfdf;
    -fx-border-color: #919191;
    -fx-border-width: 0.5;
}

.text-area{
    -fx-text-fill: #dfdfdf;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: black;
}


.text-area .scroll-pane .content{
    -fx-background-color: black;
}